// Fonts
$body-font: 'Inter', sans-serif;

$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-26: 26px;
$fz-30: 30px;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$bg-clr: #f3faff;
$blue-clr: #0a53be;
$red-clr: #ff1d1d;

// Device Width
$break-991: 991.98px;
$break-768: 768px;
$break-767: 767.98px;
$break-576: 576px;
$break-575: 575.98px;